<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{% block block_title %}OPP - Forum{% endblock %}</title>
    {% block head_placeholder %}

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />


        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/jquery-ui.min.js'></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>

        <!--script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script-->
        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->

    {% endblock %}
    {% block page_specific_head %}
    {% endblock %}
</head>
<body>
    <div style="margin: 50px 50px;">
        {% block content %}{% endblock %}  
    </div>
    
    
</body>
</html>